:root {
    --font-family: "Exo 2", sans-serif;
    --color-text: white;
    --color-background-header-footer: #186218;
    --color-background-card: #103F8E;
    --color-text-card: white;
    --color-background-card-header: navy;
    --padding-container: 2em;
    --padding-card: 1em;
    --border-radius-card: 10px;
    --box-shadow-card: 0 4px 8px rgba(0, 0, 0, 0.2);
    --opacity-card: 0.8;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    color: var(--color-text);
}

header, footer {
    background-color: var(--color-background-header-footer);
    text-align: center;
    padding: 1em 0;
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--padding-container);
}

.card {
    width: 300px;
    align-items: center;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3em;
}

.label {
    grid-column: 1 / 2;
    text-align: right;
    margin: 0;
}

.value {
    grid-column: 2 / 3;
    text-align: left;
    margin: 0;
}

.card h2 {
    padding: 0.5em;
    margin: auto;
    align-items: center;
    grid-column: span 2;
}

.weather h2::after {
    content: url('../images/weather-clouds-sun-sunny-icon.svg');
    width: 36px;
    height: 36px;
}